<br/>
<br/>
<h1 class="text-muted">Pricetrak</h1>
<br>
<div>
  <h4>Why this web site ?</h4>Inspired by a Digital Inspiration post this website hosts a simple
  <a href="/redirect?to=http%3A//www.flipkart.com?">Flipkart.com</a>, <a href="http://www.amazon.in">Amazon.In</a>,
  <a href="http://www.snapdeal.com?utm_source=aff_prog&amp;utm_campaign=afts&amp;offer_id=17&amp;aff_id=14723">Snapdeal.com</a>,
  <a href="http://www.infibeam.com?trackId=singhkrviv">Infibeam.com</a>, <a href="http://linksredirect.com?pub_id=4403CL4185&amp;url=http%3A//jabong.com">
    Jabong.com</a> & <a href="http://linksredirect.com?pub_id=4403CL4185&amp;url=http%3A//paytm.com">Paytm.com</a> price tracker. Hope this saves you some money.
  <br/>
  <br/>
  <h4>Any policies ?</h4>Checkout brand new <a href="/cookie">Privacy policy</a>
  <br/>
  <br/>
  <h4>Any disclaimers ?</h4> All outgoing links contain my affiliate id embedded for respective sites.
  <br/>
  <br/>
  <h4>Which stack ?</h4>Built using <a href="http://nodejs.org/">Node.js</a>, <a href="http://getbootstrap.com/">Twitter Bootstrap</a>,
  <a href="http://angular.io">Angular 4 </a>and more. Supported by <a href="https://www.digitalocean.com/?refcode=3570798be52f">Digital Ocean</a> and <a href="http://x.co/fliptrak">Go Daddy</a>.
  <br/>
  <br/>
  <h4>What if something goes wrong ?</h4>Issue tracker for website available at <a href="https://bitbucket.org/mail2vks/fliptrak/issues">
    bitbucket.org</a>
  <br/>
  <br/>
  <h4>Any copyrights ?</h4>Yeah !! Copyright &copy; 2017 PriceTrack.in | All rights reserved.
  <br/>
  <br/>
  <h4>How to contact you ?</h4>Email PriceTrack<span class="domain">pricetrack.in</span>
  <br/>
  <br/>
  <a href="https://twitter.com/muhammadkh4n" data-show-count="false" data-size="large" data-dnt="true" class="twitter-follow-button">
    <span>@muhammadkh4n</span>
  </a>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
      p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
      }
    })(document, 'script', 'twitter-wjs');
  </script>
</div>
