<br/>
<br/>
<div>
  <ul>
    <li>To get started copy the exact product link from website and paste in the textbox on dashboard page. Try adding direct product page link and not the search page link.
      <br/>
      <br/><img src="/assets/img/hiw-copy.png" style="width:85%;">
      <br/>
      <br/>
    </li>
    <li class="hiw">Click the "Add to watch list" button for Pricetrak to fetch product details and add it to your watchlist.
      <br/>
      <br/><img src="/assets/img/hiw-paste.png" style="width:85%;">
      <br/>
      <br/>
    </li>
    <li>
      Use the "Price drop notification" option to set alert price for product. Currently only notification by email is supported.
      <br/>
      <br/>
      <img src="/assets/img/hiw-alert.png" style="width:50%;">
      <br/>
      <br/>
    </li>
  </ul>
</div>
<br/>
