<div class="row">
  <div class="col-md-2">
    <a href="#">
      <img class="img-responsive" src="{{link.image}}" alt="link.title">
    </a>
  </div>
  <div class="col-md-5">
    <h4 class="title">{{link.title}}</h4>
  </div>
  <div class="col-md-3">
    <span class="price">{{link.price | currency: 'INR':true}}</span>
  </div>
  <div class="col-md-2">
    <a href="{{link.url}}" target="_blank" class="btn btn-primary">Buy Now</a>
    <img src="/assets/img/{{link.store}}.png" alt="">
  </div>
</div>